.owl-nav button.owl-next, .owl-nav button.owl-prev {
    /* color: #fff !important;
    margin-left: 10px;
    background-color: #010080 !important;
    border: none !important;
    outline: none;
    font-size: 20px;
    height: 38px;
    width: 38px;
    align-items: center; */
    margin: 10px;
    top: -82px;
    left: 190px;
    font-size: 20px;
    color: #010080;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 2px solid #010080;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #010080 !important;
}

.owl-nav{
    align-items: center;
    text-align: center;
}

.owl-nav button.owl-next {
    align-items: center;
    text-align: center;
}

